<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Home</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <header id="main-header"> 
        <div id="header">
            <a href="#"><img id="LogoBig" src="/img/Logo.png"></a>
            <form id="buscador" action="#" method="post">
                    <input id="barra" name="search" placeholder="Search for developers, employers or projects"></input><button type="submit" id="lupa"><i class="fas fa-search"></i></button>
            </form>
                    <h1 id="promo">Connecting development and projects all around the world. <em><i class="fas fa-globe"></i></em>
                    </h1>
        
        
        
            </div>
            <nav id="navbar">
                    <ul class="navleft">
                        <li><a href='#'>Projects</a></li>
                        <li><a href='#'>Developers</a></li>
                        <li><a href='#'>Trending</a></li>
                        <li><a href='#'>Help</a></li>
        
                    </ul>
                    <ul class="navright">
                        <li><a href='#'>Register <em><i class="far fa-id-badge"></i></em></a></li>
                        <li><a href='#'>Log In <em><i class="fas fa-user"></i></em></a></li>
                        <li><a href='#'>Shopping Cart <em><i class="fas fa-shopping-cart"></i></em></a></li>
                    </ul>
            </nav>
            <a href="#" id="boton"><i class="fas fa-align-justify"></i></a>
                
    </header>
    <div id="bodyMain">
        <form class="form" action="registro" method="post">
            <h1 id="regtitle">Sign-In</h1>
            <p>
                <label>Name:</label>
                <input class="input" type="text" name="name" required>
            </p>

            <p>
                <label>Surname:</label>
                <input class="input" type="text" name="surname" required>
            </p>
    
            <p>
                <label>E-mail:</label>
                <input class="input" type="email" name="email" required>
            </p>
    
            <p>
                <label>Password:</label>
                <input class="input" type="password" name="password" required>
            </p>
            <p>
                
                <input type="radio" name="legalage" value="Yes">
                <label>I am 18 years old or older.</label>
    
            <p>
                <input class="input" type="submit" name="button" value="Create your account">
            </p>
    
        </form>
        

    </div>
</body>
<footer>
    <article id="contact">
    <img id="LogoTiny" src="/img/TinyLogo.png">
    <p>| Contact us |</p>
    <p>| Terms & Conditions |</p>
    <p>| Report |</p>
    </article>
</footer>



</html>