* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  
}
#main-header {
  background-color: #364243;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  border: solid 2px rgb(56, 66, 67);
}
#lupa {
  width: 10%;
  align-self: center;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  border: solid 1px rgb(56, 66, 67);
  box-shadow: 1px 2.5px #88888891;
  background-color: #353535;
  color: #6d9b93;
}
#lupa :hover {
  transition: 0.5s;
  font-size: 25px;
}
#barra {
  width: 85%;
  border-radius: 15px;
  height: 20px;
  align-self: center;
  font-family: "open sans", sans-serif;
  font-size: 1em;
  border: solid 1px rgb(56, 66, 67);
  padding: 10px;
  box-shadow: 1px 2.5px #88888891;
}

#buscador {
  width: 80%;
  margin: auto;
  background-image: linear-gradient(to bottom right, silver,#2d3636);
  border-radius: 15px;
  padding:10px;
}
#LogoBig {
  width: 40vw;
  max-width: 270px;
  border-radius: 15px;
  margin: 10px;
}
#promo {
  font-size: 1em;
  font-family: "open sans", sans-serif;
  color: #dadada;
  text-align: center;
  padding:5px;
}
#promo em {
  font-size: 25px;
  color: #6d9b93;
}
#navbar {
  display: none;
}
#boton {
  text-align: center;
  color: rgb(223, 220, 90);
  font-size: 1.8em;
  display: block;
  border-radius: 12px;
  max-width: 50px;
  background-image:linear-gradient(silver,#2d3636);
  max-height: 50px;
  margin: auto;
  padding: 5px;
}
#bodyMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 80px;
  margin-top:30px;
}
#LogoTiny {
  width: 60px;
  border-radius: 15px;
  height: 55px;
  align-self: center;
}
footer {
  background-color: #384141;
  border: solid 2px rgb(56, 66, 67);
  justify-content: space-evenly;
  position: fixed;
  bottom:0;
  display: flex;
  font-size: 1em;
  font-family: "open sans", sans-serif;
  color: #dadada;
  text-align: center;
  width: 100%;
}

#homePics {
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  width: 40%;
  height: 40%;
}

.homePic {
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #0000005e;
  opacity: 0.5;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

#homePics :hover{
  transition: 0.5s;
  opacity: 1;

}

@media (min-width: 760px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    font-size: 1em;
    margin: 15px;
    font-weight: 550;
    min-height: 48px;
  }
  #botbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
  }
  .navright {
    height: 48px;
  }
  .navleft {
    height: 48px;
  }
  #navbar a {
    text-decoration: none;
    color: #dadada;
    display: inline-block;
    padding: 5px 0px;
    font-family: "open sans", sans-serif;
  }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  #navbar li {
    margin: 5px;
    transition: 0.5s;
    border-radius: 12px;
    padding:5px;
  }
  #navbar li:hover {
    font-size: 1.2em;
    border-radius: 12px;
    background-color: #ddd8722f;

    transition: 0.5s;
  }
  #navbar li em {
    color: rgb(109, 155, 147);
    font-size: 1.2em;
  }
  #header {
    display: flex;
    justify-content: space-between;
  }
  #boton {
    display: none;
  }
  #main-header {
    height: 190px;
  }
  #homePics {
    flex-direction: row;
    height: auto;
    width: auto;
  }
  .homePic {
    min-height:100%;
    object-fit: cover;
  }
}
@media (min-width: 1280px) {
  #navbar {
    max-width: 1200px;
    margin: auto;
  }
}

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  background-color: #deda6f;
  min-width: 20vw;
  width: 350px;
  box-shadow: 1px 1px 4px 1px #0000005e;
}

.input {
  width: 100%;
  font-family: "open sans", sans-serif;
  border: solid 1px rgb(56, 66, 67);
  border-radius: 5px;
  text-align: center;
}

.form label {
  font-family: "open sans", sans-serif;
  font-size: 1.1em;
  box-shadow: 1px 1px 4px 1px #0000005e;
  background-color: #9cd3ca45;
  color: #2a3233;
  padding: 7px;
  border-radius: 7px;

}
#regtitle {
  font-family: "open sans", sans-serif;
  font-size: 1.8em;
  color: #2a3233;
  border-radius: 7px;
  padding: 6px;
  width:40%;
  margin: auto;
  box-shadow: 1px 1px 4px 1px #0000005e;
  font-weight: lighter;
}

input.input:nth-child(1) {
  font-size: 1.8em;
  color: #2d3636;
  background-color: #0000000c;
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}
input.input:nth-child(1):hover {
  font-size: 1.9em;
}

#homeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: #292929;
  font-family: "open sans", sans-serif;
  text-align: center;
  padding: 15;
}

#homeCard h3 {
  font-size: 2em;
  box-shadow: #292929;
  font-weight: bold;
  padding: 20px;
  color: #292929;
  box-shadow: 0px 2px #00000042;
}

#homeCard p {
  color: #2d3636;
  box-shadow: 0px 1px 0px 0px #00000042;
  padding:20px;
}

.buttons {
  background-color: #deda6f;
  padding: 12px;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.5em;
  color:#2d3636;
}

#botbar {
  text-align: center;
  height: 50px;
}
#botbar .buttons {
  transition: all 0.5s;
}
#botbar .buttons:hover {
  font-size: 1.7em;
  transition: 0.5s;
}
.buttons {
  transition: all 0.5s;
}
.buttons:hover {
  font-size: 1.7em;
  transition: 0.5s;
}
.profile {
  padding: 10px;
  text-align: center;
  font-family: "open sans", sans-serif;
  color: #141414;
  border-radius: 30px;
  background-color: #deda6f;
  box-shadow: 1px 1px 4px 1px #0000005e;
  max-width: 65%;
  overflow: auto;
  width: 500px;
  max-height: 50%;
}
.success {
  text-align: center;
  border-radius: 15px;
  border: solid 1px #374243;
  background-image: linear-gradient(to bottom right, #dbd976, silver);
  font-family: "open sans", sans-serif;
  padding: 20px;
  margin: 15px;
}
.pp {
  box-shadow: 5px 10px #88888891;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}
.profile h3 {
  font-size: 1.5em;
  text-decoration: underline;
  color: #364243;
  font-weight: lighter;
}
.profile h2 {
  color: #364243;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #0000005e;
  background-color: #9cd3ca45;
  font-weight: lighter;
}
.success h4 {
  color: #292929;
  padding: 5px;
}

.myCart h1 {
  font-family: "open sans", sans-serif;
  font-weight: lighter;
  box-shadow: 1px 1px 4px 1px #0000005e;
  border-radius: 15px;
  padding: 15px;
}

.myCart {
  display: flex;
  box-shadow: 1px 1px 4px 1px #0000005e;
  border-radius: 15px;
  padding: 15px;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #00000017;
  width:100%;

}


#picsHead {
  font-family: "open sans",sans-serif;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: -40px;
  font-size:2em;
  color: #292929;
  box-shadow: 0px 2px #00000042;
}
