* {
  box-sizing: border-box;

}

*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background-image:url("/img/bg2.jpg");
  background-size:auto;
  background-size: inherit;
  
}

#main-header {
  background-color: #364243eb;
  text-align: center;
  width: 100%;
  top: 0px;
  z-index: 10;
  border-bottom: ridge 4px gray;
  max-height: 1000px;
  overflow: hidden;
}
#lupa {
  height: 50px;
  width: 50px;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.5s;
  border: solid 1px rgb(56, 66, 67);
  box-shadow: 1px 2.5px #88888891;
  background-color: #343535;
 color: #fff;
}
#lupa :hover {
 
  color: #deda6f;
}

#lupa :active{
  transform: translateY(4px,0.1);
}
#barra {
  width: 85%;
  border-radius: 15px;
  height: 100%;
  align-self: center;
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  border: solid 1px rgb(56, 66, 67);
  padding: 10px;
  box-shadow: 1px 2.5px #88888891;
}

#devlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 65%;
  
}

#buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #c0c0c052;
  border-radius: 15px;
  padding:10px;
  max-width: 400px;
  
}
#LogoBig {
  max-width: 270px;
  border-radius: 15px;
  width: 240px;
  margin: 0px 10px;

}
#promo {
  font-size: 1rem;
  font-family: "open sans", sans-serif;
  color: #dadada;
  text-align: center;
  padding:5px;
  font-weight: lighter;
  font-style: italic;
  margin-right: 15px;
  margin-left: 15px;
}
#promo em {
  font-size: 25px;
  color: #c0c0c0;
}

#boton {
  text-align: center;
  color: rgb(223, 220, 90);
  font-size: 1.8rem;
  display: block;
  border-radius: 12px;
  max-width: 50px;
  background-image:linear-gradient(silver,#2d3636);
  max-height: 50px;
  margin: auto;
  padding: 5px;
}
#bodyMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:auto;
  width: auto;
  margin-bottom: 80px;
  margin-top:30px;
  gap:15px;
}
#LogoTiny {
  width: 60px;
  border-radius: 15px;
  height: 55px;
  align-self: center;
}
footer {
  background-color: #364243eb;
  border-top: ridge 4px gray;
  justify-content: space-between;
  position: fixed;
  bottom:0;
  display: flex;
  font-size: 1rem;
  font-family: "open sans", sans-serif;
  color: #dadada;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

#homePics {
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  width: 80%;
}

.homePic {
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #0000005e;
  opacity: 0.5;
  transition: all 0.5s;
  height: auto;
  width: 100%;
}

#homePics :hover{
  transition: 0.5s;
  opacity: 1;

}


.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #efefef;
  min-width: 20vw;
  box-shadow: 1px 1px 4px 1px #0000005e;
  margin-bottom: 120px;
  align-items: center;
  max-width: 85%;
}


.input {
  font-family: "open sans", sans-serif;
  border: solid 1px rgb(56 66 67 / 25%);
  border-radius: 5px;
  text-align: center;
  width: 220px;
}



.form label {
  font-family: "open sans", sans-serif;
  font-size: 1.1rem;
 
  
  color: #2a3233;
  padding: 7px;
  border-radius: 7px;


}

.profilecont2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
#regtitle {
  font-family: "open sans", sans-serif;
  font-size: 1.5rem;
  color: #2a3233;
  border-radius: 7px;
  padding: 6px;
  width:40%;
  margin: auto;
  font-weight: lighter;
  margin-bottom: 20px;
}

input.input:nth-child(1) {
  font-size: 1.8rem;
  color: #2d3636;
  background-color: #0000000c;
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}
input.input:nth-child(1):hover {
  font-size: 1.9rem;
  
}

input.input:nth-child(5) {
  font-size: 1.8rem;
  color: #2d3636;
  background-color: #0000000c;
  padding: 7px;
  border-radius: 7px;
  transition: all 0.5s;
}
input.input:nth-child(5):hover {
  font-size: 1.9rem;
  
}

input.input:nth-child(1):active{
  transform: translateY(4px,0.1s);
}

input.input:nth-child(5):active{
  transform: translateY(4px,0.1s);
}

#homeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: #292929;
  font-family: "open sans", sans-serif;
  text-align: center;
  padding: 15;
}
.errors {
  color: red;
  font-family: "open sans", sans-serif;
  border-radius: 15px;
  font-size: large;
  padding: 7px;
}
#homeCard h3 {
  font-size: 2rem;
  box-shadow: #292929;
  font-weight: bold;
  padding: 20px;
  color: #292929;
  box-shadow: 0px 2px #00000042;
  font-style: italic;
}

#homeCard p {
  color: #2d3636;
  box-shadow: 0px 1px 0px 0px #00000042;
  padding:20px;
}

.fa-star{
  color:#767601;
 }

 .fa-align-justify{
  color: #dedd64c7;
 }

.buttons {
  font-family: "open sans", sans-serif;
  border-radius: 10px;
  font-size: 1.3rem;
  color:#2a3233;
  margin:5px;
  transition:all 1s;
  padding:10px;
  align-self: center;
  border: none;
  background-color: none;
  box-shadow:  1px 4px 1px #0000005e;
}

#botbar {
  text-align: center;
  height: 50px;
}
#botbar .buttons {
  
  margin:5px;
 
}
#form.buttons {
  transition: 0.5;
}


#botbar .buttons:active{
  transform: translateY(4px,0.1);
}

.buttons:hover {
  background-color:#0000002a ;
  
  
}
.buttons:active{
  transform: translateY(4px,0.1);
}
.profile {
  padding: 10px;
  text-align: center;
  font-family: "open sans", sans-serif;
  color: #141414;
  border-radius: 30px;
  background-color: #efefef8c;
  box-shadow: 1px 1px 4px 1px #0000005e;
  overflow:hidden;
  margin:10px;
  width:85%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
.success {
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #0000005e;
  font-family: "open sans", sans-serif;
  padding: 20px;
  margin: 15px;
}

.profile p {
  text-align: center;
  border-radius: 15px;
  background-color:rgba(250, 235, 215, 0.596);
  font-family: "open sans", sans-serif;
  padding: 20px;
  margin: 15px;
  height: max-content;
}
.pp {
    max-height: 100%;
  height: 100%;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;

}
.profile h3 {
  font-size: 1.1rem;
  color: #364243;
}
.profile h2 {
  color: #364243;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 1px #0000005e;
  background-color: #9cd3ca45;
  font-weight: lighter;
}

#ppcontainer {
  height:100px;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  flex-wrap: wrap;
  box-shadow: 0px 1px 1px 1px;
  width: 100px;
  margin:auto;
  background-color: rgba(250, 235, 215, 0.596);
 
  
}
.success h4 {
  color: #292929;
  padding: 5px;
}

.chill {
  font-family: "open sans",sans-serif;
  padding: 7px;
  text-align: center;


}


.profile h2{
  text-align: center;
}

.profilecont1 {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style-type: none;
}

.chillti {
  font-family: "open sans",sans-serif;
  font-size: 1.2rem;
  padding: 5px;
  transition: all 0.5;
}

#carthead, .myCart h1 {
  font-family: "open sans", sans-serif;
  font-weight: lighter;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  text-align: center;
}
#cartbuttons{
  margin-bottom: 80px;
}
#connects {
  font-family: "open sans", sans-serif;
  font-size:1.1rem;
  box-shadow: 0px 2px #00000042;
}

.myCart {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-wrap: wrap;

}


#picsHead {
  font-family: "open sans",sans-serif;
  font-weight: bold;
  margin-top: 125px;
  margin-bottom: -40px;
  font-size:1.5rem;
  color: #292929;
  box-shadow: 0px 2px #00000042;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.navright {
  display:flex;
  padding: 5px;
  flex-direction: column;
}
.navleft{
  padding: 5px;
}

  #navbar li a {
    text-decoration: none;
    color: #fffefe;
    display: inline-block;
    padding: 5px 0px;
    font-size: 1.1rem;
    transition: 0.7s;
    font-family: "open sans", sans-serif;
    padding:20px;
  }

  #navbar {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 550;
    transition: all 0.7s;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: fit-content;
  
    
  }

  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer p {
    border-radius: 12px;
    border-right: solid #ffffff1f 0.001px;
    border-left: solid #ffffff1f 0.001px;
    padding: 10px
  }
  
  #navbar li {
    margin: 5px;
    transition: 0.7s;
    border-radius: 12px;
    padding:5px;
    border-right: solid #ffffff1f 0.001px;
    border-left: solid #ffffff1f 0.001px;
    
  }
  #navbar .navright a:hover{
    font-size: 1.3rem;
    
  }


#navbar a:active{
    transform: translateY(4px,0.1);
  }
  
 
  
  #navbar li:hover {
    font-size: 1.2rem;
    border-radius: 12px;
    background-color: #ffffff2f;

    
  }
  #navbar li em {
    color: rgb(192, 192, 192);
    font-size: 1.3rem;
  }

  #greeting {
    color: #2d3636;
    align-self: center;
    padding: 12px 10px;
    font-size: 1.5rem;
    background-color: #deda6f;
    border-radius: 10px;
    border: ridge 2px silver;
    font-family: "open sans", sans-serif;
    margin:auto;
  }

  #profileactions{
  display: flex;
  transition: 0.5;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: row;
    
  }
  .navright{
    flex-direction: row;
  }
  #botbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
  }

  

  
  
  #navbar ul {
    
    display: flex;
  }
  
 
  #boton {
    display: none;
  }
  #promo {
    margin-top: 50px;
  }
  
  #homePics {
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    max-width: 60%;
  }
  .homePic {
  width: 50%;
  align-self: stretch;
  }
  .profile {
    width: 45%;
  }
}


@media (min-width:1250px){
    .profile{
      width: 30%;
    }
  }

