* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #c0c0c0;
}
#main-header {
  background-color: #75b78e;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 10;
  height: 215px;
  border: solid 2px rgb(56, 66, 67);
}
#lupa {
  width: 10%;
  align-self: center;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  border: solid 1px rgb(56, 66, 67);
}
#lupa :hover {
  transition: 0.5s;
  font-size: 25px;
}
#barra {
  width: 85%;
  border-radius: 15px;
  height: 20px;
  align-self: center;
  font-family: "open sans", sans-serif;
  font-size: 1em;
  border: solid 1px rgb(56, 66, 67);
  padding: 10px;
}

#buscador {
  width: 80%;
  margin: auto;
}
#LogoBig {
  width: 40vw;
  max-width: 270px;
  border-radius: 15px;
  margin: 10px;
}
#promo {
  font-size: 1em;
  font-family: "open sans", sans-serif;
  color: #384243;
  text-align: center;
  margin: 30px 10px 0px 0px;
}
#promo em {
  font-size: 25px;
  color: #646464;
}
#navbar {
  display: none;
}
#boton {
  text-align: center;
  color: rgb(219, 217, 118);
  font-size: 1.8em;
  display: block;
  border-radius: 12px;
  max-width: 50px;
  background-color: rgb(56, 66, 67);
  max-height: 50px;
  margin: auto;
  padding:5px;
}
#bodyMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px 0px;
  flex-direction: column;
}
#LogoTiny {
  width: 60px;
  border-radius: 15px;
  height: 55px;
  align-self: center;
}
footer {
  background-color: #75b78e;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border: solid 2px rgb(56, 66, 67);
}
#contact {
  justify-content: space-evenly;
  display: flex;
}
#contact p {
  font-size: 1em;
  font-family: "open sans", sans-serif;
  color: #384243;
  text-align: center;
}
@media (min-width: 760px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    font-size: 1em;
    margin: 15px;
    font-weight: 550;
    min-height: 48px;
  }
  #botbar {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
  .navright {
    height: 48px;
  }
  .navleft {
    height: 48px;
  }
  #navbar a {
    text-decoration: none;
    color: #384243;
    display: inline-block;
    padding: 5px 0px;
    font-family: "open sans", sans-serif;
  }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  #navbar li {
    margin: 5px;
    transition: 0.5s;
  }
  #navbar li:hover {
    font-size: 1.2em;
    border-radius: 12px;
    background-color: #38424333;

    transition: 0.5s;
  }
  #navbar li em {
    color: rgb(20, 20, 20);
  }
  #header {
    display: flex;
    justify-content: space-between;
  }
  #boton {
    display: none;
  }
  #main-header {
    height: 190px;
  }
}
@media (min-width: 1280px) {
  #navbar {
    max-width: 1200px;
    margin: auto;
  }
}

.form {
  border: solid 5px #384243;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 15px;
  background-color: #75b78e;
  min-width:20vw;
  width: 350px;
}

.input {
  width: 100%;
  font-family: "open sans", sans-serif;
  border: solid 1px rgb(56, 66, 67);
  border-radius: 5px;
  text-align: center;
}

.form label {
  font-family: "open sans", sans-serif;
  font-size: 1.1em;
  color: #384243;

  background-color: #dbd76cdb;
  padding: 7px;
  border-radius: 7px;
  border: solid 2px rgb(56, 66, 67);
}
#regtitle {
  font-family: "open sans", sans-serif;
  font-size: 1.5em;
  color: #dadada;
  background-color: #384243;
  border-radius: 7px;
  padding: 2px;
}

input.input:nth-child(1) {
  font-size: 1.8em;
  color: #384243;
  background-color: #dbd76cdb;
  padding: 7px;
  border-radius: 7px;
  border: solid 2px rgb(56, 66, 67);
  transition: all 0.5s
}
input.input:nth-child(1):hover {
  font-size: 1.9em;
}

#homeCard {
  background-color: #374243;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  border: ridge 6px #75b78e;
  font-family: "open sans", sans-serif;
  text-align: center;
  height: 400px;
  padding: 15px;
  color: white;
}

#homeCard h3 {
  font-size: 2em;
  background-color: rgba(83, 83, 75, 0.6);
  border-radius: 15px;
  font-weight: bold;
  padding: 10px;
}

.buttons {
  background-color: #374243;
  color: white;
  padding: 12px;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border: ridge 2px #75b78e;
  font-size: 1.5em;
}

#botbar {
  text-align: center;
  height: 50px;
  
  
}
#botbar .buttons{
  transition: all 0.5s;
}
#botbar .buttons:hover{
  font-size: 1.7em;
  transition: 0.5s;
}
.buttons{
  transition: all 0.5s;
}
.buttons:hover{
  font-size: 1.7em;
  transition: 0.5s;
}
.profile {
  padding:10px;
  border:solid 1.5px #384243;
  text-align: center;
  font-family: "open sans",sans-serif;
  color: #141414;
  border-radius: 30px;
  background: #dddddd;
  max-width: 50%;
  overflow:auto;
  width:500px;
}
.success {
  text-align: center;
  border-radius: 15px;
  border: solid 1px #374243;
  background-color: #dbd76c94;
  font-family: "open sans",sans-serif;
  padding: 20px;
  margin:15px;
}
.pp {
  border: ridge 3px #dbd76c;
  border-radius: 10px;
  width: 80%;
  
  
}
.profile h3 {
  font-size: 1.5em;
  text-decoration: underline;
}
.success h4{

color:#384243;
padding: 5px;
}

.myCart h1 {
  font-family: "open sans",sans-serif;
  font-weight: lighter;
  background-color: #dbd976;
  border-radius: 15px;
  padding:10px;
  border:solid 0.5px #384243;
}

.myCart {
  background-color:#75b78ecc;
  display: flex;
  border-radius: 15px;
  padding: 15px;
  gap:10px;
  border: solid 2px #384243;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

