<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Cart</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
    
    <form class="form" action="/edit/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h1 id="regtitle">Edit profile:</h1>
      <p>      
        <label for="name">Your full name: </label>
        <br></br>
            <input class="input" type="text" name="name">
      </p>
      <p>
          <label for="desc">Your description: </label>
          <br></br>
          <textarea class="input" type="text" name="desc" ></textarea>
      </p>
      <p>
          <label for="price">Your price: </label>
          <br></br>
          <input class="input" type="text" name="price">
      </p>
      <p>
        <label for="pp" >Profile Picture</label>  
        <br></br>
        <br></br>       
        <input type="file" name="pp"></input>
        

      </p>
      

      <input class="input" type="submit" value="Update"></input>


    </form>
    </div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>


</html>