<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Home</title>
    <link rel="icon" href="/img/TinyLogo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    
</head>


<body>
    <%- include('./partials/header') %>
    
   
        
          <div id="carrousel" data-carrousel>
            <button class="buttons" id="carrousel-button-r" data-carrousel-button="previous">&#8656;</button>
            <button class="buttons" id="carrousel-button-f" data-carrousel-button="next">&#8658;</button>
             <div id="botbar"> 
            <a href="/newdev"><button class="carbuttons" type="button"><i class="fas fa-laptop"></i> Sign up as a developer</button></a>
            <a href="/dev"><button class="carbuttons" type="button"><i class="fas fa-shopping-basket"></i> Browse Developers</button></a>
    
    
          </div> 
            <ul data-slides>
              <li class="slide" data-active><img src="/img/pic1.jpg"><p><img id="LogoTiny" src="/img/TinyLogo-removebg-preview.png"> Find where your skills are needed and connect with your next employer directly.</p></li>
              <li class="slide"><img src="/img/pic2.jpg"><p><img id="LogoTiny" src="/img/TinyLogo-removebg-preview.png"> Browse CodeRus for developers from anywhere around the world.</p></li>
              <li class="slide"><img src="/img/pic3.jpg"><p><img id="LogoTiny" src="/img/TinyLogo-removebg-preview.png"> Collaborate with other developers and make projects of your own.</p></li>
            </ul>
          </div> 
          <div id="promo">
          <h1>About </h1>
          <img id="LogoBig" src="/img/Logo-removebg-preview.png">

        </div>
          

             
    
    
<footer>
    <%- include('./partials/footer') %>
</footer>
</body>






</html>