<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Home</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
        <div id="homeCard">
          <h3>Breathe life into your projects as a developer or employer.</h3>
          <p>Find projects to work on as a developer, or find developers to hire for your project. Here at CodeRus, you make projects come alive.</p>
        </div>        
    </div>
    <div id="botbar">
        <button href="#" class="buttons" type="button">Top Projects</button> 
        <a href="/dev"><button class="buttons" type="button">Top Developers</button></a>
        <a href="/dev"><button class="buttons" type="button">Marketplace</button></a>


    </div>
</div>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>