<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Log In</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
        <form class="form" action="registro" method="post">
            <h1 id="regtitle">Log-In  <i class="fas fa-sign-in"></i></i></h1>
            <p>
                <label>E-mail</label>
                <br></br>
                <input class="input" type="email" name="email" required>
            </p>
    
            <p>
                <label>Password</label>
                <br></br>
                <input class="input" type="password" name="password" required>
            </p>
    
            <p>
                <input class="input" type="submit" name="button" value="Log In Your Account">
            </p>
    
        </form>
        

    </div>
    <br></br>
    <br></br>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>