<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Register</title>
    <link rel="icon" href="/img/TinyLogo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">

        
         
        
         <div class="error">
            <ul>

            </ul>
        </div>
       
        <form method="POST" class="form"  action="/newDev" validate="true" enctype="multipart/form-data">
            <% if (locals.errors) { 
            errors.forEach(error => { %>
            <p class="errors"><i class="fal fa-times-hexagon"></i> 

                <%= error.msg %></p>
        <%    })
         } %>
            <h1 id="regtitle">Dev Sign-Up</h1>
            <div class="profilecont1">
                <label for="name">Full Name <i class="fas fa-user-tag"></i></label>
                <br></br>
                <input class="input" type="text" name="name"></input>
            </div>
    
            <div class="profilecont1">
                <label for="desc">Description <i class="far fa-keyboard"></i></label>
                <br></br>
                <textarea class="input" name="description">Describe yourself here!</textarea>
            </div>
    
            <div class="profilecont1">
                <label for="age">Date of Birth <i class="far fa-calendar-alt"></i></label>
                <br></br>
                <input class="input" type="date" name="age"></input>
            </div>
            <div class="profilecont1">
                <label for="nationality">Nationality <i class="fas fa-globe-americas"></i></label>
                <br></br>
                <input class="input" type="text" name="nationality"></input>
            </div>
            <div class="profilecont1">
                <label for="pp" >Profile Picture <i class="fas fa-camera-retro"></i></label>
                <br></br>
                <br></br>
                <input type="file" name="picture" required></input>
                
    
            </div>
                <input class="buttons" type="submit" value="Create profile"></input>
            
    
        </form>

        

    </div>
</body>
<%- include('./partials/DevValidate') %>
<footer>
    <%- include('./partials/footer') %>
</footer>



</html>