<!DOCTYPE html>
<html lang=es>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CodeRus - Register</title>
    <link rel="icon" href="/img/TinyLogo.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
</head>


<body>
    <%- include('./partials/header') %>
    <div id="bodyMain">
        

        
        <form method="POST" class="form"  action="/user/register">
            <div class="error">
            <ul>

            </ul>
        </div>
            <% if (locals.errors) { 
            errors.forEach(error => { %>
            <p class="errors"><i class="fal fa-times-hexagon"></i> 

                <%= error.msg %></p>
        <%    })
         } %>
            <h1 id="regtitle">Sign-In  <i class="fas fa-arrow-to-right"></i></h1>
            <div class="profilecont1">
                <label for="username">Username <i class="fas fa-user-edit"></i></label>
                <br></br>
                <input class="input" type="text" name="username">
            </div>
    
            <div class="profilecont1">
                <label for="email">E-mail <i class="fas fa-envelope"></i></label>
                <br></br>
                <input class="input" type="email" name="email">
            </div>
    
            <div class="profilecont1">
                <label for="password">Password <i class="fas fa-user-shield"></i></label>
                <br></br>
                <input class="input" type="password" name="password"></input>
            </div>
            <div class="profilecont1">
                <label for="password">Confirm Password <i class="fas fa-user-shield"></i></label>
                <br></br>
                <input class="input" type="password" name="confirm"></input>
            </div>
            <div class="profilecont1">
                
                <label for="age">Date of Birth <i class="far fa-calendar-alt"></i></label>
                <br></br>
                <input class="input" type="date" name="age"></input>
    
            </div>
            <div class="profilecont1">
                
                 <label for="phone">Phone Number <i class="fas fa-phone-alt"></i></label>
                <br></br>
                 <input class="input" type="text" name="phone"></input>
        
            </div>
            <div class="profilecont1">
                
                    <label for="age">Nationality <i class="fas fa-globe-americas"></i></label>
                    <br></br>
                    <input class="input" type="text" name="nationality" ></input>
            </div>
        
                
                <input class="buttons" type="submit" name="button" value="Create your account"></input>
            
    
        </form>

        

    </div>
    <%- include('./partials/validationsUser') %>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>



</html>