<header id="main-header"> 
    
        <nav id="navbar">
            
            <% if (locals.user) { %>
                <ul class="navleft"> 
                    <a id="anch" href="/"><img id="LogoBig" src="/img/Logo-removebg-preview.png"></a>
                    <form id="buscador" action="/search">
                        <input id="barra" name="search" placeholder="Search for developers..."></input><button type="submit" id="lupa" ><i class="fas fa-search"></i></button>
                    </form>
                    
                   
    
                </ul>
                
         
                <div class="navright">
                    
                    <li><a href='/user/profile'> <%=user.username %>  <em><i class="fas fa-user"></i></em> </a></li>
                    <li><a href="/logout">Log out <em><i class="fas fa-sign-out-alt"></i></em></a></li>
                </div>
                        
                   
                 <% }else{ %>
                <ul class="navleft"> 
                        <a  id="anch" href="/"><img id="LogoBig" src="/img/Logo-removebg-preview.png"></a>
                       
        
                </ul>
                <div class="navright">
                    
                    <li><a href='/user/register'>  Sign Up <em><i class="far fa-id-badge"></i></em></a></li>
                    <li><a href='/user/login'>  Log In <em><i class="fas fa-user"></i></em></a></li>
                </div>
                     <% } %>

                     
               
        </nav>
        

        <script>

document.addEventListener("DOMContentLoaded", () => {
            let boton = document.querySelector('#boton');
            let navbar = document.querySelector('#navbar');
            let logo = document.querySelector('#LogoBig');
            let header = document.querySelector('#main-header');
            let anch = document.querySelector("#anch");
            let buscador = document.querySelector("#buscador");
            

           

            const buttons = document.querySelectorAll("[data-carrousel-button]")

buttons.forEach(button => {

  button.addEventListener("click", () => {
    const offset = button.dataset.carrouselButton === "next" ? 1 : -1
    const slides = button
      .closest("[data-carrousel]")
      .querySelector("[data-slides]")

    const activeSlide = slides.querySelector("[data-active]")
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0

    slides.children[newIndex].dataset.active = true
    delete activeSlide.dataset.active
  })
})
})
            
             buscador.addEventListener("submit",function(e){
                let barra = document.querySelector("[name = 'search']");
                console.log(barra.value)
                if(barra.value.length <= 0){
                    e.preventDefault();
    
                }

            })
    
              
           

        </script>
        
            
     </header>