<header id="main-header"> 
    
        <nav id="navbar">
            
            <% if (locals.user) { %>
                <ul class="navleft"> 
                    <a id="anch" href="/"><img id="LogoBig" src="/img/Logo-removebg-preview.png"></a>
                    <form id="buscador" action="/search">
                        <input id="barra" name="search" placeholder="Search for developers..."></input><button type="submit" id="lupa" ><i class="fas fa-search"></i></button>
                    </form>
                    
                   
    
                </ul>
                
         
                <div class="navright">
                    
                    <li><a href='/user/profile'> <%=user.username %>  <em><i class="fas fa-user"></i></em> </a></li>
                    <li><a href="/logout">Log out <em><i class="fas fa-sign-out-alt"></i></em></a></li>
                </div>
                        
                   
                 <% }else{ %>
                <ul class="navleft"> 
                        <a  id="anch" href="/"><img id="LogoBig" src="/img/logo-removebg-preview.png"></a>
                       
        
                </ul>
                <div class="navright">
                    
                    <li><a href='/user/register'>  Register <em><i class="far fa-id-badge"></i></em></a></li>
                    <li><a href='/user/login'>  Log In <em><i class="fas fa-user"></i></em></a></li>
                </div>
                     <% } %>

                     
               
        </nav>
        

        <script>
            let boton = document.querySelector('#boton');
            let navbar = document.querySelector('#navbar');
            let logo = document.querySelector('#LogoBig');
            let header = document.querySelector('#main-header');
            let anch = document.querySelector("#anch");
            
            
    
              
           

        </script>
        
            
     </header>